[submodule "patecobb/themes/anatole."]
	path = patecobb/themes/anatole.
	url = https://github.com/lxndrblz/anatole.git
[submodule "public"]
	path = public
	url = https://github.com/patec/patec.github.io.git
	branch = master
